@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Orbitron:wght@400..900&display=swap');

.homeDiv{
    font-family: "Orbitron",  sans-serif;
}

.paraFont{
    font-family: "Lato", sans-serif;
}

.spinAnimation {
  animation: spin 3s linear infinite;
  height:4vh;
  display: inline;
}

@keyframes spin {
  0% {
    transform: rotate3d(0, 0, 1, 0deg);
  }
  50% {
    transform: rotate3d(0, 1, 0, 45deg);
  }
  100%{
    transform: rotate3d(0, 0, 1, 0deg);
  }
}

.para{
  font-family: "Orbitron",  sans-serif;

}

.para:hover{
  text-shadow: 4px 4px 10px white;
}
